.search-form {
  margin: px-rem(10) auto;
  @include v-flex(center, center);
  @include increase-element-size(95%, $container-width-sizes, width);
}
.search-form__input {
  width: px-rem(200);
  margin: px-rem(10) 0;
  border: none;
  @include increase-element-size(px-rem(5), $padding-sizes, padding);
  &:focus {
    outline: none;
  }
}
.search-form__button {
  width: px-rem(200);
  height: auto;
  margin: px-rem(10) 0;
  background-color: $btn-bg-color;
  color: $btn-txt-color;
  border: none;
  cursor: pointer;
  @include increase-element-size(px-rem(5), $padding-sizes, padding);
  @include noHighlightAndSelect;
  transition: background-color 0.4s ease-in;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: scale-color($btn-bg-color, $lightness: 15%);
  }
}
.search-form__warning {
  width: 100%;
  text-align: center;
  color: $light-red;
  animation: element-pop-up 0.5s ease-in-out;
}
.saved-queries {
  @include increase-element-size(
    px-rem(20),
    $saved-queries__wrapper--margin-bottom,
    margin-bottom
  );
}
.saved-queries__wrapper {
  @include increase-element-size(95%, $container-width-sizes, width);
  margin: 0 auto;
  @include h-flex(flex-start, center);
  flex-wrap: wrap;
  overflow: hidden;
}

.card-list {
  @include increase-element-size(95%, $container-width-sizes, width);
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.no-results {
  width: 80%;
  height: 15vh;
  margin: px-rem(25) auto;
  @include v-flex(center, center);
}
.no-results__warning {
  animation: turn-visible-and-scaleup 0.5s ease-in-out 0.5s;
  text-align: center;
  color: $strong-orange;
}
.card {
  width: 100%;
  height: auto;
  flex-grow: 1;
  margin: 0 px-rem(8) px-rem(8) 0;
  overflow: hidden;
  @include v-flex(center, center);
}

.card--image {
  min-width: 100%;
  max-height: 100%;
  flex-grow: 5;
  object-fit: cover;
  border-radius: 10px;
  //vertical-align: bottom;
  animation: element-pop-up 1.5s;
  transition: transform 0.4s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}
.load-more {
  @include increase-element-size(95%, $container-width-sizes, width);
  margin: 0 auto;
  @include v-flex(center, center);
  @include increase-element-size(px-rem(5), $padding-sizes, padding);
}
.load-more__btn {
  @extend .search-form__button;
  &:disabled {
    background-color: scale-color($btn-bg-color, $lightness: 50%);
    cursor: not-allowed;
  }
}

/* ============================================
================= MEDIA QUERIES =================
============================================ */
@media (min-width: px-rem(768)) {
  .search-form {
    @include h-flex(center, center);
    margin: px-rem(20) auto;
    flex-wrap: wrap;
  }
  .search-form__input {
    margin: px-rem(50) 0;
    width: 60%;
  }
  .search-form__button {
    margin: px-rem(50) 0;
    width: 30%;
  }
  .card {
    width: 50%;
  }
}

@media (min-width: px-rem(1024)) {
  .search-form__input {
    width: 50%;
  }
  .search-form__button {
    width: 20%;
  }
  .card {
    width: 32%;
  }
}
