/* ============================================
============= IMAGE SEARCH APP ==============
============================================ */
.image-search-app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
