/* ============================================
================= SEARCH IMAGES =================
============================================ */
.search-images {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.search-form {
  margin: px-rem(10) auto;
  @include v-flex(center, center);
  @include increase-element-size(95%, $container-width-sizes, width);
}
.search-form__input--wrapper {
  width: 90%;
  margin: px-rem(10) 0;
  position: relative;
  @include h-flex(center, center);
}
.search-form__input {
  width: 100%;
  border: none;
  @include increase-element-size(
    px-rem(10),
    $form-elements-padding-sizes,
    padding
  );
  &:focus {
    outline: 1px solid $strong-orange;
    outline-offset: -1px;
  }
}
.search-form__btn--clear {
  position: absolute;
  right: 0;
  @include strip-btn-defaults;
  cursor: pointer;
  color: rgba($btn-x-txt-color, 0.5);
  padding: 0 px-rem(10);
  &:hover {
    color: rgba($btn-x-txt-color, 1);
  }
}
.search-form__btn--submit {
  width: px-rem(200);
  height: auto;
  margin: px-rem(10) 0;
  background-color: $btn-bg-color;
  color: $btn-txt-color;
  border: none;
  cursor: pointer;
  @include increase-element-size(
    px-rem(10),
    $form-elements-padding-sizes,
    padding
  );
  @include noHighlightAndSelect;
  transition: background-color 0.4s ease-in;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: scale-color($btn-bg-color, $lightness: 15%);
  }
}
.search-form__warning {
  width: 100%;
  text-align: center;
  color: $light-red;
  animation: element-pop-up 0.5s ease-in-out;
}

.load-more {
  @include increase-element-size(95%, $container-width-sizes, width);
  margin: 0 auto;
}
.load-more__inner-wrapper {
  @include v-flex(center, center);
  @include increase-element-size(
    px-rem(20),
    $general-container-margin-sizes,
    margin-bottom
  );
}
.load-more__btn {
  @extend .search-form__btn--submit;
  &:disabled {
    background-color: scale-color($btn-bg-color, $lightness: 50%);
    cursor: not-allowed;
  }
}

/* ============================================
================= MEDIA QUERIES =================
============================================ */
@media (min-width: px-rem(480)) {
  .search-form__input--wrapper {
    width: 70%;
  }
}
@media (min-width: px-rem(768)) {
  .search-form {
    @include h-flex(center, center);
    margin: px-rem(20) auto;
    flex-wrap: wrap;
  }
  .search-form__input--wrapper {
    margin: px-rem(50) 0;
    width: 60%;
  }
  .search-form__btn--submit {
    margin: px-rem(50) 0;
    width: 30%;
  }
}

@media (min-width: px-rem(1024)) {
  .search-form__input--wrapper {
    width: 50%;
  }
  .search-form__btn--submit {
    width: 20%;
  }
}
