/* ============================================
================= IMPORTS =================
============================================ */
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@500&family=Rubik&family=Syne+Tactile&display=swap");
@import "./functions";

/* =======================================
================= SETTINGS ==============
=========================================== */

/* =============== COLORS ===============
========================================== */

/* =========== Plain Colors ================= */
$white: #ffffff;
$black: #000;
$light-red: #ff444e;
$alice-blue: #f0f8ff;
$strong-cyan: #00a9cc;
$strong-orange: #bf7f00;

/* ============== Contextual Colors ================ */
/* === Background and Foreground  === */
$primary-bg-color: $alice-blue;
$primary-fg-color: $white;
$secondary-fg-color: $white;
$btn-bg-color: $light-red;
/* ========== Text  ============ */
$title-color: $light-red;
$heading-txt-color: $white;
$p-txt-color: $black;
$input-txt-color: $black;
$btn-txt-color: $white;
$list-items-bg-color: $strong-cyan;
$list-items-txt-color: $white;
$btn-x-txt-color: $strong-orange;

/* =============== Fonts ================
=========================================*/

/* === Plain Fonts === */
$mukta: "Mukta", sans-serif;
$rubik: "Rubik", sans-serif;
$syne-tactile: "Syne Tactile", cursive;

/* === Contextual Fonts === */
$heading-font: $rubik;
$txt-font: $mukta;
$button-font: $syne-tactile;

/* =============== LISTS ===============
========================================== */
$breakpoints: px-rem(480), px-rem(768), px-rem(1024), px-rem(1400);
// Font sizes
$title-font-sizes: px-rem(35), px-rem(40), px-rem(45), px-rem(50);
$h4-font-sizes: px-rem(20), px-rem(22), px-rem(26), px-rem(28);
$text-sizes: px-rem(16), px-rem(18), px-rem(20), px-rem(20);
$saved-queries__btn--font-sizes: px-rem(18), px-rem(20), px-rem(24), px-rem(28);
// Box sizes
$container-width-sizes: 90%, 85%, 80%, px-rem(1024);
$form-elements-padding-sizes: px-rem(10), px-rem(12), px-rem(13), px-rem(15);
$box-elements-padding-sizes: px-rem(10), px-rem(12), px-rem(13), px-rem(15);
$general-container-margin-sizes: px-rem(20), px-rem(20), px-rem(25), px-rem(30);
$saved-queries__wrapper--margin-bottom: px-rem(25), px-rem(30), px-rem(40),
  px-rem(50);
$card-modal-width: 90%, 85%, 70%, 65%;
$card-modal-height: 90%, 89%, 88%, 85%;

/* ============================================
============ Miscellaneous Styles ========== */
